<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Published at</th>
      <th>Avatar</th>
      <th>Moderated?</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= article.published_at %></td>
        <td><%= image_tag article.avatar.url(:thumb) %></td>
        <td><%= article.moderation_status %></td>
        <td><%= link_to 'Show', article if policy(article).show? %></td>
        <td><%= link_to 'Edit', edit_article_path(article)  if policy(article).update? %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }  if policy(article).update? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if policy(Article).new? %>
<%= link_to 'New Article', new_article_path %>
<% end %>
